@page "/viewrepo/{ItemId:int}/{ViewPath}"
@using System.IO
@using Microsoft.AspNetCore.Blazor.Services
@using tbp.Shared.Models
﻿@using System.Text
@inject HttpClient Http
@inject IUriHelper UriHelper

<div class="container">

    @if (LoggedInUser == null || repo == null)
    {
        <Spinner/>
    }
    else
    {
        <h4 class="mb-0 mt-0">@repo.Name</h4>
        <small>@repo.Description</small>

        <FileSelect ref="multiFileSelect" IsMultiple="true"></FileSelect>

        if (isUploading)
        {
            <div class="alert alert-secondary" role="alert">
                <h4 class="alert-heading">Uploading</h4>
                <p>Please wait</p>
                <div style="height: 1rem"></div>
                <p>
                    <small>@remainingFiles file(s) remaining</small>
                </p>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                </div>
            </div>
        }
        else
        {
            if (docs == null)
            {
                <Spinner/>
            }
            else
            {
                var currentPath = ViewPath.Replace("root", "");
                currentPath = currentPath.Replace(folderUrlSeparator, "/");

                <div class="d-flex justify-content-between align-items-center mt-4">

                    <div class="d-flex">
                        <a class="btn btn-outline-secondary btn-sm mr-3 my-auto" href="/">
                            <FabricIcon Glyph="Back"/> <span>All repositores</span>
                        </a>
                        <h6 class="text-muted align-middle my-auto">@repo.Name@currentPath</h6>
                    </div>

                    <div class="d-flex">

                        <div class="input-group mx-3" style="width: 12rem">
                            <input type="text" class="form-control" aria-label="Folder name" aria-describedby="add-folder-btn" bind="@NewFolderName" placeholder="New folder"/>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="add-folder-btn" onclick="@AddFolder">Add</button>
                            </div>
                        </div>

                        <button class="btn btn-primary" onclick="@SelectFiles"><FabricIcon Glyph="VersionControlPush"/> Push files</button>
                    </div>

                </div>

                <ul class="list-group mt-3">
                    @if (ViewPath != "root")
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center py-2">
                            <button class="btn btn-link" onclick="@GoUpOne" type="button">
                                <FabricIcon Glyph="Up"/> Up one level
                            </button>
                        </li>
                    }

                    @if (docs.Count < 1)
                    {
                        <li class="list-group-item d-flex justify-content-center align-items-center py-5">
                            <div class="text-center">
                                <h1>
                                    <FabricIcon Glyph="FocalPoint"/>
                                </h1>
                                <i>You don't want this to be empty, do you?</i>
                                <br/>
                                <button class="btn btn-primary mt-3" onclick="@SelectFiles"><FabricIcon Glyph="VersionControlPush"/> Push files</button>
                            </div>
                        </li>
                    }

                    @foreach (var document in docs)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center py-2">
                            @if (document.FileType == "folder")
                            {
                                <button type="button" class="btn btn-link text-dark text-decoration-none" onclick="@(() =>
                                                                                                                     {
                                                                                                                         currentPath = ViewPath + folderUrlSeparator + document.FileName;

                                                                                                                         var link = $"/viewrepo/{document.RepoId}/{currentPath}";

                                                                                                                         docs = null;
                                                                                                                         UriHelper.NavigateTo(link);
                                                                                                                     })">

                                    <FabricIcon Glyph="FolderHorizontal" Style="transform: translateY(-0.1rem);" Class="text-warning"/>
                                    @document.FileName

                                </button>
                            }
                            else
                            {
                                <a class="btn btn-link text-dark text-decoration-none" href="/viewfile/@document.Id">
                                    @if (MonacoEditor.IsImage(document.FileType))
                                    {
                                        <FabricIcon Glyph="Photo2" Class="text-primary"/>
                                    }
                                    else
                                    {
                                        <FabricIcon Glyph="Page" Class="text-primary"/>
                                    }

                                    @document.FileName
                                </a>
                            }

                            <div>
                                <small>@Helpers.ToRelativeDate(document.SysStartTime)</small>
                                <button class="btn btn-link text-danger" type="button" onclick="@(() => RemoveDocument(document.Id))">
                                    <FabricIcon Glyph="Delete"/>
                                </button>
                            </div>
                        </li>
                    }
                </ul>

                <div class="d-flex justify-content-end mt-3">
                    @if (ViewPath == "root")
                    {
                        <button type="button" class="btn btn-link text-muted p-0" onclick="@DeleteRepo">

                            <small>
                                Delete repository
                            </small>
                        </button>
                    }
                </div>
            }
        }
    }



</div>

@functions
{

    const string folderUrlSeparator = "_";

    [Parameter]
    private int ItemId { get; set; }

    [Parameter]
    private string ViewPath { get; set; }

    Repository repo;
    List<Document> docs;

    private string NewFolderName { get; set; }

    User LoggedInUser { get; set; }

    int currentDocId = -1;
    string currentFileName = "";

    protected override void OnInit()
    {
        LoadUserData();

        //MonacoEditor.LastPage = $"/viewrepo/{ItemId}";
    }

    protected override void OnAfterRender()
    {
        if (docs == null)
        {
            LoadDocuments();
        }
    }

    private async void GetCurrentFileName(int id)
    {
        currentFileName = await Http.GetStringAsync($"api/Document/nameof/{id}");
        StateHasChanged();
    }

    private async void LoadUserData()
    {
        if (LoggedInUser == null)
        {
            var cookie = await CookieManager.GetData("currentUser");
            cookie = cookie == "" ? "-1" : cookie;
            LoggedInUser = await Http.GetJsonAsync<User>($"api/User/{cookie}");

            StateHasChanged();
        }

        LoadRepo();
        LoadDocuments();
    }

    public async void LoadRepo()
    {
        if (repo != null) return;

        repo = await Http.GetJsonAsync<Repository>($"api/Repository/{ItemId}");
        StateHasChanged();
    }

    public async void LoadDocuments()
    {
        if (docs != null) return;

        var newPath = ViewPath.Replace("root", "");
        newPath = newPath.Replace(folderUrlSeparator, "/");

        if (ViewPath == "root") newPath = "/";

        docs = await Http.PostJsonAsync<List<Document>>($"api/Document/inrepo/{ItemId}", newPath);

        StateHasChanged();
    }

    private async void DeleteRepo()
    {
        await Http.DeleteAsync($"api/Repository/{repo.Id}");

        UriHelper.NavigateTo("/");
    }


    //////////

    List<User> users;
    List<Document> documents;
    //List<Session> documents;
    FileSelect fileSelect;
    int totalFiles;
    int remainingFiles;


    public async void RemoveDocument(int id)
    {
        await Http.DeleteAsync($"api/Document/{id}");

        docs = null;

        StateHasChanged();
    }

    FileSelect multiFileSelect;
    List<LoadedFile> loadFiles;

    bool isUploading => loadFiles != null && loadFiles.Count > 0;

    private async void AddFolder()
    {
        var currentPath = ViewPath.Replace("root", "");
        currentPath = currentPath.Replace(folderUrlSeparator, "/");

        if (ViewPath == "root") currentPath = "/";

        await Http.PostJsonAsync("api/Document", new Document
        {
            FileName = NewFolderName,
            Path = currentPath,
            FileType = "folder",
            RepoId = repo.Id,
            Contents = ""
        });
        
        NewFolderName = "";

        docs = null;

        StateHasChanged();
    }

    private async void GoUpOne()
    {
        var newPath = ViewPath.Substring(0, ViewPath.LastIndexOf("_"));

        docs = null;

        UriHelper.NavigateTo($"/viewrepo/{repo.Id}/{newPath}");
    }

    void SelectFiles()
    {
        multiFileSelect.SelectFiles(async selectedFiles =>
        {
            loadFiles = selectedFiles.Select(file => new LoadedFile
            {
                SelectedFile = file,
                IsLoaded = false,
                LoadedSize = 0
            }).ToList();

            totalFiles = loadFiles.Count;
            remainingFiles = loadFiles.Count;

            StateHasChanged();

            foreach (var file in loadFiles)
            {
                using (var fileReader = multiFileSelect.GetFileReader(file.SelectedFile))
                {
                    var myFile = await fileReader.GetFileBytesAsync();

                    var fileType = MonacoEditor.GetFileType(Path.GetExtension(fileReader.File.Name));

                    var newPath = ViewPath.Replace("root", "");
                    newPath = newPath.Replace(folderUrlSeparator, "/");

                    if (ViewPath == "root") newPath = "/";

                    await Http.PostJsonAsync("api/Document", new Document
                    {
                        FileName = fileReader.File.Name,
                        Path = newPath,
                        FileType = fileType,
                        RepoId = repo.Id,
                        Contents = Convert.ToBase64String(myFile)
                    });

                    remainingFiles--;

                    StateHasChanged();
                }
            }

            loadFiles.Clear();
            
            docs = null;

            StateHasChanged();
        });
    }

}